.petal1 {
  position: absolute;
  bottom: 0px;
  left: 22px;
  width: 60px;
  height: 70px;
  background: #b81212;
  border-radius: 0 25% 0 35%; 
  border-top: hsl(0, 100%, 65%) solid 10px;
  border-right: #ff4d4d solid 5px;
  transform-origin: bottom center;
  opacity: 0.9;
  box-shadow: inset 2px 2px 5px rgba(0,0,0,0.3);
  z-index: 4;
  animation: petal1Anim 3s ease-in-out infinite;
}
.petal2 {
  position: absolute;
  bottom: 0px;
  left: 80px;
  width: 60px;
  height: 70px;
  background: #b81212;
  border-radius: 25% 0 35% 0; 
  border-top: #ff4d4d solid 10px;
  border-left: #ff4d4d solid 5px;
  transform-origin: bottom center;
  opacity: 0.9;
  box-shadow: inset 2px 2px 5px rgba(0,0,0,0.3);
  animation: petal1Anim 3s ease-in-out infinite;
  z-index: 4;
}

.petal3 {
  position: absolute;
  bottom: 30px;
  left: 28px;
  width: 60px;
  height: 80px;
  background: #b81212;
  border-radius: 0 25% 0 35%; 
  border-top: #ff4d4d solid 5px;
  transform-origin: bottom center;
  opacity: 0.9;
  box-shadow: inset 2px 2px 5px rgba(0,0,0,0.3), -8px -8px 12px 5px rgba(0,0,0,0.4);
  animation: petal1Anim 3s ease-in-out infinite;
  z-index: 3;
}
.petal4 {
  position: absolute;
  bottom: 30px;
  left: 78px;
  width: 60px;
  height: 80px;
  background: #b81212;
  border-radius: 25% 0 35% 0; 
  border-top: #ff4d4d solid 5px;
  transform-origin: bottom center;
  opacity: 0.9;
  box-shadow: inset 2px 2px 5px rgba(0,0,0,0.3), 0px 0px 12px 12px rgba(0,0,0,0.2);
  animation: petal1Anim 3s ease-in-out infinite;
  z-index: 3;
  
}

.petal5 {
  position: absolute;
  bottom: 45px;
  left: 52px;
  width: 60px;
  height: 80px;
  background: #ff4d4d;
  border-radius: 25% 25% 0 0; 
  transform-origin: bottom center;
  opacity: 0.9;
  box-shadow: inset 2px 2px 5px rgba(0,0,0,0.3);
  animation: petal1Anim 3s ease-in-out infinite;
}



.rose{
  position: absolute;
  bottom: 69%;
  left: 41%;
  width: 100px;
  height: 100px;
  transform: translateX(-50%);
  z-index: 30;
  
}

.aura{
  border-radius: 50%;
  background-color: #000000;
  width: 190px;
  height: 190px;
  box-shadow: 0 0 30px rgba(255, 66, 60, 0.7), 0 0 60px rgba(223,220,78,0.5);
  position: absolute;
  top: 55%;
  left: 53%;
  transform: translate(-59%, -150%);
  
}

.stem1{
  position: absolute;
  bottom: 0;
  left: 48%;
  width: 10px;
  min-height: 450px;
  background: linear-gradient(to top, #093D10, #06310c, #033109);
  z-index: 2;
  transform-origin: left bottom;
}

.stem2{
  position: absolute;
  bottom: 57%;
  left: 35%;
  width: 60px;
  height: 60px;
  transform: rotate(-10deg);
  transform-origin: bottom center;
  animation: leafMovement 4s ease-in-out infinite;
}

.stem3{
  position: absolute;
  bottom: 40%;
  left: 49%;
  width: 60px;
  height: 60px;
  transform: rotate(10deg);
  transform-origin: bottom center;
  animation: leafMovement 4s ease-in-out infinite;
}

.stem4{
  position: absolute;
  bottom: 30%;
  left: 35%;
  width: 60px;
  height: 60px;
  transform: rotate(360deg);
  transform-origin: bottom center;
  animation: leafMovement 4s ease-in-out infinite;
}

.stem5{
  position: absolute;
  bottom: 15%;
  left: 49%;
  width: 60px;
  height: 60px;
  transform: rotate(10deg);
  transform-origin: bottom center;
  animation: leafMovement 4s ease-in-out infinite;
}

.hoja{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top{
  position: absolute;
  bottom: 68%;
  left: 40%;
  width: 80px;
  height: 10px;
  background: #078618;
  border-radius: 15% 10% 50% 50%;
  box-shadow: inset 2px 20px 5px rgba(131, 131, 131, 0.3);
  z-index: 2;
}

.flower-container{
  position: relative;
  width: 450px;
  min-height: 550px;
  max-width: 750px;
  margin: 120px auto 50px auto;
  border: 3px solid rgba(255, 255, 255, 0.39);
  border-bottom: 60px solid rgba(255, 255, 255, 0.39);
  border-radius: 50% 50% 0 0;
  box-shadow: inset 0 0 200px rgba(6, 173, 224, 0.2), 0 0 300px rgba(253, 191, 75, 0.37);
  z-index: 400;
}

.grass{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: linear-gradient(to top, #4dff4d, #006600);
  border-radius: 0 0 0 0;
  z-index: 400;
}

.grass {
  width: 100%;
  height: 60px;
  background-image: url('grass-texture.png');
  background-size: cover;
  border-radius: 0 0 40% 40%/0 0 100% 100%;
}

.grass-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body{
  background-color: black;
}

.reflejo1{
  position: absolute;
  bottom: 180px;
  left: 20px;
  width: 10px;
  height: 80px;
  background: rgba(255,255,255,0.5);
  border-radius: 30%;
  box-shadow: 0 0 5px rgba(255,255,255,0.5), 0 0 10px rgba(255,255,255,0.5);
}
.reflejo2{
  position: absolute;
  bottom: 140px;
  left: 20px;
  width: 10px;
  height: 20px;
  background: rgba(255,255,255,0.5);
  border-radius: 30%;
  box-shadow: 0 0 5px rgba(255,255,255,0.5), 0 0 10px rgba(255,255,255,0.5);
}

.nombre{
  border-color: rgba(255, 255, 255, 0.39);
  background: linear-gradient(to right, #fff239, #dfdc4e);
  position: absolute;
  left: 50%;
  bottom: -50px;
  transform: translateX(-50%);
  width: 80%;
  height: 40px;
  border-radius: 5px 1px 10px 1px; 
  box-shadow: 0 0 5px rgba(255,255,255,0.5), 0 0 10px rgba(255,255,255,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-style: oblique;
  font-size: 30px;
}

.nombre p{
  color: rgb(150, 55, 179);
  font-weight: bold;
}

.particle{
  position: absolute;
  width: 10px;
  height: 10px;
  background: rgb(236, 253, 1);
  box-shadow: 0 0 5px rgba(236, 253, 1, 0.5), 0 0 10px rgba(236, 253, 1, 0.5);
  border-radius: 50%;
  animation: particleAnim 10s linear infinite;
}

.particles-container{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  pointer-events: none;
  display: flex;
  align-items: start;
  justify-content: center;
  background-color:#b81212;
}

.grass-blade{
  position: absolute;
  bottom: 0;
  width: 2px;
  height: 20px;
  background: linear-gradient(to top, #4dff4d, #006600);
  border-radius: 0 0 50% 50%;
  animation: sway 3s ease-in-out infinite;
}

.grass-blade:hover{
  transform:rotateZ(20deg);
  transform-origin: bottom center;
  border-radius: 0 0 50% 50%;
  transition: transform 0.5s ease-in-out;
}

.sun {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  background: radial-gradient(circle at center, #ffeb3b, #fbc02d);
  border-radius: 50%;
  box-shadow: 0 0 30px rgba(255,235,59,0.7), 0 0 60px rgba(255,235,59,0.5);
  animation: sunAnim 8.5s linear infinite;
}

.moon {
  position: fixed;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  background: #f5f3ce;
  border-radius: 50%;
  box-shadow: 0 0 30px 10px #f5f3ce99;
  z-index: 10;
  overflow: hidden;
  transform: rotate(180deg);
  animation: moonAnim 8.5s linear infinite;
}
.moon::after {
  content: '';
  position: absolute;
  top: 10px;
  left: 20px;
  width: 70px;
  height: 70px;
  background: #181818;
  border-radius: 50%;
  z-index: 11;
}

.fondo{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.2;
}

body{
  overflow: hidden;
  min-width: 300px;
}

@keyframes sway {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(15deg);
  }
  60% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes particleAnim {
  0% {
    transform: translateY(1px);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    transform: translateY(-400px);
    opacity: 0;
  }
}

@keyframes leafMovement{
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

@keyframes sunAnim {
  0% {
    transform: rotate(0deg) translateX(250px) translateY(390px) rotate(0deg);
  }
  50% {
        box-shadow: 0 0 300px rgba(255,235,59,0.7), 0 0 60px rgba(255,235,59,0.5);

  }
  100% {
    transform: rotate(380deg) translateX(350px) translateY(280px) rotate(-360deg);
  }
}

@keyframes moonAnim {
  0% {
    transform: rotate(80deg) translateX(-420px) rotate(0deg);
  }
  50% {
    box-shadow: 0 0 300px 10px #f5f3ce99;

  }
  100% {
    transform: rotate(440deg) translateX(-420px) rotate(-360deg);
  }
}

@keyframes petal1Anim {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }
  50% {
    transform: rotate(0deg) scale(1.1);
    opacity: 1;
  }
  100% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }
}

@keyframes petalfall {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  50%{
    opacity: 0.5;
  }
  100% {
    transform: translateY(340px) rotate(210deg) skew(-50deg);
    opacity: 0;
  }
}

@keyframes petalgrow {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 0.9;
  }
}

@media (max-width: 290px){ 
    .flower-container {
    width: 250px;
    min-height: 500px;
    border-radius: 30% 30% 0 0;

  }
  .aura{
    width: 190px;
    height: 190px;
    transform: translate(-53%, -115%);
  }
  .stem1 {
    min-height: 300px;
  }

  .stem2{
    bottom: 45%;
    left: 25%;
  }
  .stem3{
    bottom: 30%;
    left: 51%;
  }
  .stem4{
    bottom: 20%;
    left: 25%;
  }
  .stem5{
    bottom: 10%;
    left: 51%;
  }
  .top{
    bottom: 60%;
    left: 30%;
  }

  .rose{
    bottom: 56%;
    left: 38%;
  }
}

@media (min-width: 390px) and (max-height: 600px){
  .stem2{
    bottom: 45%;
    left: 4%;
  }
  .stem3{
    bottom: 30%;
    left: 47%;
  }
  .stem4{
    bottom: 20%;
    left: 45%;
  }
  .stem5{
    bottom: 10%;
    left: 47%;
  }
  .top{
    bottom: 60%;
    left: 50%;
  }

  .top{
    left: 26%;
  }

  .rose{
    bottom: 56%;
    left: 40%;
  }
  .flower-container{
    min-height: 400px;
    
  }
}